body {
}
#content {
  left: 0px;
}
#logo {
  width: 20%;
}
#navigation {
  font-size: 8px;
  background-color: blue;
  padding: ;
}
#divider {
  height: 100%;
  background-color: black;
}
#navigation a {
  color: white;
  text-decoration: none;
}
.island {
  align: center;
}
a {
  color: purple;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}
